<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<div id="foot">
  <div CLASS="title_tt">
    Copyright © 2017 昆山市保险行业协会 All Rights Reserved.
    <br>
    主办：昆山市保险行业协会 版权所有   <a href="http://www.miitbeian.gov.cn">苏ICP备13041233号</a>
  </div>
</div>