<div id="top">
  <div id="top_main">
  </div>
</div>
<div id="menu">
    <div id="menu_all">
      <ul>
          <li>
            <a href="index.jsp">网站首页</a>
          </li>
          <li>
            <a href="index.jsp">关于协会</a>
          </li>
          <li>
            <a href="index.jsp">行业时讯</a>
          </li>
          <li>
            <a href="index.jsp">政策法规</a>
          </li>
          <li>
            <a href="index.jsp">行业数据</a>
          </li>
          <li>
            <a href="index.jsp">联系我们</a>
          </li>
          <li>
            <a href="index.jsp">投诉信箱</a>
          </li>
      </ul>
    </div>
</div>
<br/>
<br/>
<div id="foot">
  <div CLASS="title_tt">
    Copyright © 2017 昆山市保险行业协会 All Rights Reserved.
    <br>
    主办：昆山市保险行业协会 版权所有   <a href="http://www.miitbeian.gov.cn">苏ICP备13041233号</a>
  </div>
</div>