<div id="foot">
  <div class="title_tt">
    Copyright © 2017 昆山市保险行业协会 All Rights Reserved.
    <br>
    主办：昆山市保险行业协会 版权所有   <a href="http://www.miitbeian.gov.cn">苏ICP备17027750号</a>
  </div>
  <div style="width:300px;margin:0 auto; padding:4px 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32058302001411" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/assets/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:black; font-size: 12px">苏公网安备 32058302001411号</p></a>
  </div>
</div>