<div id="link_aa" style="margin-top:5px;">
  <div class="linkbg"></div>
  <div class="linkbg_a">
    <div style="padding:2px 5px 5px 5px;">

      <table width="955" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>

          <td valign="top" style="padding:0 5px;"><table border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td align="center" height="50">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td width="151" height="42" style="border:1px #CCCCCC solid;"><a href="http://www.circ.gov.cn/web/site0/" target="_blank" title="中国保险监督管理委员会"><img src="/assets/links_img/CIRC.gif" alt="中国保险监督管理委员会" width="147" height="38" hspace="2" border="0"></a></td>
                  </tr>
                  </tbody></table>

              </td></tr>
            </tbody></table></td>

          <td valign="top" style="padding:0 5px;"><table border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td align="center" height="50">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td width="151" height="42" style="border:1px #CCCCCC solid;"><a href="http://www.circ.gov.cn/web/site24/" target="_blank" title="中国保监会江苏监管局"><img src="/assets/links_img/circ_bj.gif" alt="中国保监会江苏监管局" width="147" height="38" hspace="2" border="0"></a></td>
                  </tr>
                  </tbody></table>

              </td></tr>
            </tbody></table></td>

          <td valign="top" style="padding:0 5px;"><table border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td align="center" height="50">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td width="151" height="42" style="border:1px #CCCCCC solid;"><a href="http://www.circ.gov.cn/web/site61/" target="_blank" title="国保监会苏州监管局"><img src="/assets/links_img/CIRC_SZ.gif" alt="国保监会苏州监管局" width="147" height="38" hspace="2" border="0"></a></td>
                  </tr>
                  </tbody></table>

              </td></tr>
            </tbody></table></td>

          <td valign="top" style="padding:0 5px;"><table border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td align="center" height="50">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td width="151" height="42" style="border:1px #CCCCCC solid;"><a href="http://www.iachina.cn/" target="_blank" title="中国保险行业协会"><img src="/assets/links_img/IAC.gif" alt="中国保险行业协会" width="147" height="38" hspace="2" border="0"></a></td>
                  </tr>
                  </tbody></table>

              </td></tr>
            </tbody></table></td>

          <td valign="top" style="padding:0 5px;"><table border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td align="center" height="50">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td width="151" height="42" style="border:1px #CCCCCC solid;"><a href="http://jsia.cisc.cn/jsia" target="_blank" title="江苏省保险行业协会"><img src="/assets/links_img/JIA.gif" alt="江苏省保险行业协会" width="147" height="38" hspace="2" border="0"></a></td>
                  </tr>
                  </tbody></table>

              </td></tr>
            </tbody></table></td>

          <td valign="top" style="padding:0 5px;"><table border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td align="center" height="50">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td width="151" height="42" style="border:1px #CCCCCC solid;"><a href="http://www.chinasia.cn/" target="_blank" title="苏州市保险行业协会"><img src="/assets/links_img/SIA.jpg" alt="苏州市保险行业协会" width="147" height="38" hspace="2" border="0"></a></td>
                  </tr>
                  </tbody></table>

              </td></tr>
            </tbody></table></td>

        </tr>
        </tbody></table>


    </div>
  </div>
  <div class="linkbg_b"></div>
</div>