<div id="menu">
  <div id="menu_all">
    <ul>
      <li>
        <a href="index.jsp">网站首页</a>
      </li>
      <li>
        <a href="about/show">关于协会</a>
      </li>
      <li>
        <a href="index.jsp">行业时讯</a>
      </li>
      <li>
        <a href="index.jsp">政策法规</a>
      </li>
      <li>
        <a href="index.jsp">行业数据</a>
      </li>
      <li>
        <a href="contact/show">联系我们</a>
      </li>
      <li>
        <a href="email/show">投诉信箱</a>
      </li>
    </ul>
  </div>
</div>