<%= render "share/top" %>
<%= render "share/menu" %>
<div id="lawMain">
  <div id="lawList">
    <div style="width:210px; overflow:hidden; float:left;">
      <div class="lawList_left">
        <div class="lawList_left_a">
          <table width="209" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="86" height="33" align="center" class="tie_a">政策法规</td>
              <td width="135" align="right"><a href="">&nbsp;</a></td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="lawList_right">
      <div class="lawList_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">政策法规</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 政策法规 &gt; 政策法规 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="lawList_right_b">
        <div class="content_da"><ul class="nlist" style="padding-left:0px;">
          <li> &gt; <a href="zcfgshow.asp?id=51" title="中华人民共和国消费者权益保护法(2013年修正)">中华人民共和国消费者权益保护法(2013年修正)</a></li>
          <li> &gt; <a href="zcfgshow.asp?id=49" title="人身保险公司保险条款和保险费率管理办法（2015年修订）">人身保险公司保险条款和保险费率管理办法（2015年修订）</a></li>
          <li> &gt; <a href="zcfgshow.asp?id=47" title="保险专业代理机构监管规定（2015年修订）">保险专业代理机构监管规定（2015年修订）</a></li>
          <li> &gt; <a href="zcfgshow.asp?id=46" title="保险经纪机构监管规定（2015年修订）">保险经纪机构监管规定（2015年修订）</a></li>
          <li> &gt; <a href="zcfgshow.asp?id=45" title="保险公司管理规定（2015年修订）">保险公司管理规定（2015年修订）</a></li>
          <li> &gt; <a href="zcfgshow.asp?id=44" title="保险公估机构监管规定（2015年修订）">保险公估机构监管规定（2015年修订）</a></li>
          <li> &gt; <a href="zcfgshow.asp?id=43" title="《中华人民共和国保险法》">《中华人民共和国保险法》</a></li>
          <li> &gt; <a href="zcfgshow.asp?id=42" title="区政府办公室关于印发加快发展现代保险 服务业实施意见的通知">区政府办公室关于印发加快发展现代保险 服务业实施意见的通知</a></li>
          <div class="List_page"><a>总数：8</a><span>1</span><a>页次：1/1</a></div>
        </ul></div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render "share/links" %>
<%= render "share/foot" %>