<%= render :partial =>  "share/top" %>
<%= render :partial =>  "share/menu" %>
<div id="newsMain">
  <div id="newsList">
    <div style="width:210px; overflow:hidden; float:left;">
      <div class="newsList_left">
        <div class="newsList_left_a">
          <table width="209" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="86" height="33" align="center" class="tie_a">行业时讯</td>
              <td width="135" align="right"><a href="">&nbsp;</a></td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="newsList_right">
      <div class="newsList_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">行业时讯</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 行业时讯 &gt; 行业时讯 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="newsList_right_b">
        <div class="content_da">            <h2 class="news_title">昆山市保险行业协会2016年财务审计报告</h2>
          <div id="art_content">
            <img src="/assets/news_img/shengji1601.jpg">
            <img src="/assets/news_img/shengji1602.jpg">
            <img src="/assets/news_img/shengji1603.jpg">
            <img src="/assets/news_img/shengji1604.jpg">
            <img src="/assets/news_img/shengji1605.jpg">
            <img src="/assets/news_img/shengji1606.jpg">
            <img src="/assets/news_img/shengji1607.jpg">
          </div>
        </div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render :partial =>  "share/links" %>
<%= render :partial =>  "share/foot" %>