<%= render :partial =>  "share/top" %>
<%= render :partial =>  "share/menu" %>
<div id="newsMain">
  <div id="newsList">
    <div style="width:210px; overflow:hidden; float:left;">
      <div class="newsList_left">
        <div class="newsList_left_a">
          <table width="209" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="86" height="33" align="center" class="tie_a">行业时讯</td>
              <td width="135" align="right"><a href="">&nbsp;</a></td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="newsList_right">
      <div class="newsList_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">行业时讯</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 行业时讯 &gt; 行业时讯 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="newsList_right_b">
        <div class="content_da">            <h2 class="news_title">昆山保险业开展“7.8全国保险公众日”宣传活动</h2>
          <div id="art_content">
            <img src="/assets/news_img/718huodong_20170710154309.jpg">
            <p><span style="font-size:16px;">7月8日上午，昆山市保险行业协会组织18家保险公司近百人在柏庐广场开展了以“远离贫困，从一份保障开始”为主题的大型户外宣传活动。</span></p>
            <p><span style="font-size:16px;">在活动现场，工作人员积极与市民互动，介绍涉及民生类的养老、医疗、健康，教育以及昆山市政府为户籍人口购买的民生保险、大病保险及困难人群医疗保险等，推介公司服务，推广公司APP、微信等新型便捷功能，并现场接受市民的建议意见与咨询投诉。</span></p>
            <p><span style="font-size:16px;">本次活动共向市民发放保险公司定制的纪念品500余份，发放活动宣传资料2000余份，接受市民咨询百余条，达到了预期的宣传效果，展示了保险业履行社会责任，服务民生的行业形象。</span></p>
          </div>
        </div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render :partial =>  "share/links" %>
<%= render :partial =>  "share/foot" %>