<%= render :partial =>  "share/top" %>
<%= render :partial =>  "share/menu" %>
<div id="newsMain">
  <div id="newsList">
    <div style="width:210px; overflow:hidden; float:left;">
      <div class="newsList_left">
        <div class="newsList_left_a">
          <table width="209" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="86" height="33" align="center" class="tie_a">行业时讯</td>
              <td width="135" align="right"><a href="">&nbsp;</a></td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="newsList_right">
      <div class="newsList_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">行业时讯</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 行业时讯 &gt; 行业时讯 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="newsList_right_b">
        <div class="content_da">            <h2 class="news_title">中国人寿昆山支公司感恩回馈客户开展“健康口腔”服务活动</h2>
          <div id="art_content">
            <img src="/assets/news_img/renshoukouqiang01.jpg">
            <p><span style="font-size:16px;">连日来，中国人寿昆山支公司与苏州口腔医院昆山分院合作，以“感恩回馈客户，安全打造好口腔”为活动主题，为每一位购买学平险的客户（学生）开展牙齿涂氟健康口腔活动。</span></p>
            <p><span style="font-size:16px;">儿童牙齿涂氟是目前国际上公认有效的防龋（蛀牙）方法，其涂氟可以有效地抑制有害细菌，增强牙齿抵抗力，坚固牙齿，修复蛀牙，减少过敏等。</span></p>
            <p><span style="font-size:16px;">中国人寿昆山支公司对于此次双方的合作也是高度重视，邀请到了苏州口腔医院昆山分院的专家先后进行了多达10余场的口腔涂氟项目宣导，近千余人参加了此次的涂氟说明会。此次宣导，也让每一个保险代理人都了解到什么是涂氟以及涂氟的好处是什么，更让每一位公司的客户得到专业涂氟知识的解答。昆山支公司将会进一步加强与苏州口腔医院昆山分院的合作力度，更好地服务于客户，为客户口腔健康保驾护航。</span></p>
          </div>
        </div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render :partial =>  "share/links" %>
<%= render :partial =>  "share/foot" %>