<%= render :partial =>  "share/top" %>
<%= render :partial =>  "share/menu" %>
<div id="newsMain">
  <div id="newsList">
    <div style="width:210px; overflow:hidden; float:left;">
      <div class="newsList_left">
        <div class="newsList_left_a">
          <table width="209" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="86" height="33" align="center" class="tie_a">行业时讯</td>
              <td width="135" align="right"><a href="">&nbsp;</a></td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="newsList_right">
      <div class="newsList_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">行业时讯</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 行业时讯 &gt; 行业时讯 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="newsList_right_b">
        <div class="content_da">            <h2 class="news_title">昆山人保财险2016年度保费突破10亿元</h2>
          <div id="art_content">
            <img src="/assets/news_img/renbao10E.jpg">
            <p><span style="font-size:16px;">2016年12月31日，中国人民财产保险股份有限公司昆山中心支公司保费规模突破10亿元，成为昆山地区首家年度保费突破10亿元的县域支公司。昆山人保财险主动参与社会管理，创新产品服务供给，全力助推民生保障，充分履行保险职能，积极服务昆山经济转型发展。</span></p>
            <p><span style="font-size:16px;">当好经济助推器　　全力服务创业创新</span></p>
            <p><span style="font-size:16px;">从 2016“汤尤杯”羽毛球赛到昆山中环工程项目，从科技保险到出口信用险，近年来，围绕昆山转型升级发展规划，昆山人保财险充分发挥风险保障和损失补偿的保险功能。仅2016年，公司就为5200多家企业、50多万户家庭、近20万辆机动车，提供了超10611亿元的风险保障，赔款总额超6亿元，为昆山经济转型发展和新兴产业成长作出了积极贡献。2016年全年，人保财险昆山中心支公司根据创新企业初创期、成长期、成熟期的风险管理需求，研究推出了15项特色金融保险产品，内容涵盖中小企业贷款保证保险、专利执行保险、短期出口信用保证保险、首台套——高新技术企业产品责任险、高新技术企业营业中断保险、高新技术企业高管人员和关键研发人员团体意外伤害保险、高新技术企业产品研发责任保险等一揽子保险。利用金融特色保险将创新企业不同发展阶段中遇到的风险进行转移，并且通过金融保险服务为企业提供融资支持和客户拓展支持。在推进重大装备（首台套）保险等险种上响应国家政策助力自主创新；在专利执行保险上为昆山企业量身定制风险保障方案，为企业知识产权撑起保护伞；深度推广小微企业短期出口信用保险，协助分散科技企业创新发展风险。2014年至2016年累计为400多家科技型企业提供2100亿元各类保险保障，仅2016年一年即为昆山地区59家科技企业提供了1.5亿元信用贷款保证保险支持。</span></p>
            <p><span style="font-size:16px;">当好三农服务器　　全力保障支农惠农</span></p>
            <p><span style="font-size:16px;">从普通农作物保险到家禽家畜保险，从高校设施农业保险到蔬菜价格指数保险，昆山农业保险从2006年开始试运行，到2016年已经走过11个年头。作为昆山地区农业保险唯一中标单位，昆山人保财险在过去的11年间累计为20万户次农户提供了逾17亿元保障，支付各类保险赔款4307万元，全面提升了保险服务农业现代化能力。为全面提升农业保险服务能力，昆山人保财险建立大灾三级应急响应机制，确保快速查勘、及时理赔，无论是2011年暴雨中“流泪的小麦”、2012年海葵台风摧毁的企业和现代农业大棚，还是2013年“9·11”和“10·6”两次特大暴雨、2013年大雪压跨的农业设施和蔬菜瓜果、2015年雹灾下的受损车辆和村舍、2016年的寒潮冻灾，第一时间就能看到昆山人保人及时到达查勘理赔的身影。如今，在昆山，保险已初步实现了从支农、惠农到富农、强农的功能转变。</span></p>
            <p><span style="font-size:16px;">当好社会稳定器　　创新社会治理体系</span></p>
            <p><span style="font-size:16px;">从校园方责任保险到医疗责任保险，从政策性普惠制民生保险到深度惠民的大病保险，昆山人保财险积极参与昆山社会保障和治理体系建设。作为昆山市民生保险主承保单位，民生保险自2012年开始推行至2016年，累计保障26.5万户家庭、78.4万户籍人口，累计支付各类保险赔款逾740万元。昆山民生保险在全国首创见义勇为专项保险保障，保障范围扩展至昆山户籍人口在外地、外地户籍人口在昆山的见义勇为行为，保障额度高达50万元。昆山人保财险首席承办昆山市非户籍人口意外险，年度保障额度超1300亿元。深度拓展民生救助保险，2014年推出至今累计支付民生救助保险赔款超700万元。另外，昆山人保财险创新推出的“和谐家园”民生保险产品深得民心，承保理赔服务范围覆盖昆山所有区镇，仅2016年一年支付保险赔款超500万元。校园方责任保险承保面覆盖大、中、小、幼学生，近4万名学生受益。</span></p>
            <p><span style="font-size:16px;">夯实服务强实力　　风雨同行服务客户</span></p>
            <p><span style="font-size:16px;">从“多快好省”到“一体化平台”，从“微信理赔”到“智能救援”，昆山人保财险正视客户需求，追求客户满意，持续优化“多、快、好、省”的十大金牌服务，完善优化微信理赔流程，切实解决人民群众和广大客户“理赔难”问题。2016年，昆山人保财险构建覆盖昆山市所有中心区镇的理赔服务网络，为客户提供整齐划一的高效理赔服务。作为2016年“汤尤杯”羽毛球赛独家保险合作伙伴，昆山人保财险全程为赛事量身定制了全方位风险保障方案，为大赛提供涵盖商业综合责任险、雇主责任险及特许商品综合险等全方位保险保障，提供保险保障达1.3亿元。</span></p>
            <p><span style="font-size:16px;">跨越只有进行时，辉煌永远在明天。昆山人保财险将以满足社会多元化保险服务需求为出发点，不断深化改革创新、拓宽服务领域，充分发挥保险在损失补偿、资金融通和社会治理方面的作用，致力保险供给侧改革，为推动昆山经济转型发展作出更大的贡献。</span></p>
          </div>
        </div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render :partial =>  "share/links" %>
<%= render :partial =>  "share/foot" %>