<%= render :partial =>  "share/top" %>
<%= render :partial =>  "share/menu" %>
<div id="newsMain">
  <div id="newsList">
    <div style="width:210px; overflow:hidden; float:left;">
      <div class="newsList_left">
        <div class="newsList_left_a">
          <table width="209" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="86" height="33" align="center" class="tie_a">行业时讯</td>
              <td width="135" align="right"><a href="">&nbsp;</a></td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="newsList_right">
      <div class="newsList_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">行业时讯</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 行业时讯 &gt; 行业时讯 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="newsList_right_b">
        <div class="content_da">            <h2 class="news_title">中国人保成功护航汤尤杯</h2>
          <div id="art_content">
            <img src="/assets/news_img/renbaotangyou.jpg">
            <p><span style="font-size:16px;">5月22日，2016年汤姆斯杯暨尤伯杯赛在昆山落下帷幕，中国人民保险作为本届赛事的独家保险合作伙伴，为本届“汤尤杯”赛量身定制了全方位风险保障方案，为大赛提供涵盖商业综合责任险、雇主责任险及特许商品综合险在内的1.3亿元全方位保险保障，圆满完成护航任务。</span></p>
            <p><span style="font-size:16px;">作为新中国保险事业的缔造者和开拓者，中国人民保险在风险保障和保险服务方面拥有丰富经验和专业能力，相继成为2008年北京奥运会、2010年上海世博会、2010年广州亚运会、2015年苏州世乒赛保险合作伙伴，圆满地完成了为各大国际盛会保驾护航的重任。未来，中国人民保险将为更多国内及国际体育赛事提供优质高效的保险服务。</span></p>
          </div>
        </div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render :partial =>  "share/links" %>
<%= render :partial =>  "share/foot" %>