<%= render "share/top" %>
<%= render "share/menu" %>
<div id="aboutMain">
  <div id="aboutUs">
    <div style="width:210px; overflow:hidden; float:left;">
      <div class="aboutUs_left">
        <div class="aboutUs_left_a">
          <table width="209" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="86" height="33" align="center" class="tie_a">关于协会</td>
              <td width="135" align="right"><a href="">&nbsp;</a></td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="aboutUs_right">
      <div class="aboutUs_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">协会概况</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 关于协会 &gt; 协会概况 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="aboutUs_right_b">
        <div class="content_da">
          <p><span style="font-size:16px;">　　昆山市保险行业协会（英文全称：The Insurance Association of  Kun  Shan，缩写为KIA），是经市民政局登记注册的社团法人，是由昆山市保险机构自愿组成的保险行业自律性社团组织，是非营利性社会团体法人。接受苏州保监分局、昆山市民政局的业务指导和监督管理。</span></p>
          <p><span style="font-size:16px;">　　协会宗旨是：遵守宪法、法律、法规和国家政策，遵守社会道德风尚，督促会员自律，维护行业利益，促进行业发展，为会员提供服务，促进市场公开、公平、公正。</span></p>
          <p><span style="font-size:16px;">　　协会的工作核心是向会员公司提供服务。其基本职责为：自律与服务。重点发挥自律职能，促进市场公平，维护消费公正。同时做好维权、协调、交流、宣传等工作，为会员和消费者提供优质服务。创造和维护公平合理的竞争环境，成为同业间交流、合作的平台和保险经营者与政府沟通的桥梁，加强宣传的窗口，促进我市保险事业的健康、快速发展。</span></p>
        </div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render "share/links" %>
<%= render "share/foot" %>
