<%= render "share/top" %>
<%= render "share/menu" %>
<div id="contact">
  <div id="about">
    <div class="about_left">
      <div class="about_left_a">
        <table width="209" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td width="86" height="33" align="center" class="tie_a">联系我们</td>
            <td width="135" align="right"><a href="contact/show">&nbsp;</a></td>
          </tr>
          </tbody></table>
      </div>
      <div class="about_left_b">
        <div id="leftmenu">
          <ul>
            <li><a href="contact/show">联系方式</a></li>
          </ul>
        </div>
      </div>
      <div class="about_left_c"> </div>
    </div>
    <div class="about_right">
      <div class="about_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">联系方式</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 联系我们 &gt; 联系方式 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="about_right_b">
        <div class="content_da"><p><span style="font-size:16px;">　　</span><strong><span style="font-size:18px;">昆山市保险行业协会</span></strong></p><p><span style="font-size:16px;">　　电话：0512-57322913</span></p><p><span style="font-size:16px;">　　传真：0512-57322913</span></p><p><span style="font-size:16px;">　　地址：昆山市柏庐中路401号北6D楼1-5室</span></p><p><span style="font-size:16px;">　　邮编：215300</span></p>
          <iframe width="580" height="620" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/yyOwI">
          </iframe>
        </div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render "share/links" %>
<%= render "share/foot" %>