// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#aboutMain { width: 100%; overflow: hidden }
#aboutUs { width: 980px; margin: auto; overflow: hidden; padding-top: 15px }
#aboutUs .aboutUs_right { width: 756px; float: right; overflow: hidden; margin-left: 10px; margin-bottom: 10px }