// Place all the styles related to the law controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lawMain { width: 100%; overflow: hidden }
#lawList { width: 980px; margin: auto; overflow: hidden; padding-top: 15px }
#lawList .lawList_right { width: 756px; float: right; overflow: hidden; margin-left: 10px; margin-bottom: 10px }