// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#newsMain { width: 100%; overflow: hidden }
#newsList { width: 980px; margin: auto; overflow: hidden; padding-top: 15px }
#newsList .newsList_right { width: 756px; float: right; overflow: hidden; margin-left: 10px; margin-bottom: 10px }
.List_page {text-align:center;margin:8px;font-family:"宋体";clear:both;}
.List_page a{background:#fff;margin:1px;padding:4px 6px;border:1px solid #7CBBED;color:#333;font-family:"宋体";}
.List_page span{background:#7CBBED;color:#fff;margin:1px;padding:4px 6px;border:1px solid #7CBBED;font-family:"宋体";}
