// Place all the styles related to the Say controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Website toper
#top{ margin: auto; width: 100%; height: 234px }
#top_main { width:989px; height:234px; /*background-image: url("banner.jpg");*/ margin: auto;}

//Website menu
#menu{ width:100%; height:40px; /*background:url("menubg.jpg") top center no-repeat;*/ position: relative;z-index:9999;}
#menu_all{ width:994px; margin:0 auto; height:40px; line-height:40px;}
#menu_all ul { list-style:none; height:40px; line-height:40px; margin-left:4px;}
#menu_all ul li{float:left; font-weight: bold;font-size: 14px;text-align: center;line-height: 40px;height: 40px;width: 123px;color: #FFFFFF;background: #0d7a39;}

//website main
#main{ width: 100%; overflow: hidden }

//website footer
#foot{ width: 989px; height: 55px; padding-top: 10px; margin: auto}
#foot .title_tt { font-size: 12px; color: #666666; line-height: 30px; text-decoration: none; text-align: center; }
