<!DOCTYPE html>
<html>
<head>
  <meta name="Keywords" content="昆山市保险行业协会,保险,协会">
  <meta name="Description" content="昆山市保险行业协会于2009年6月8日成立">
  <meta name="baidu-site-verification" content="4oj6RGwLVT" />
  <title>昆山市保险行业协会</title>
  <%= stylesheet_link_tag  'application', :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
