<!DOCTYPE html>
<html>
<head>
  <meta name="Keywords" content="昆山市保险行业协会,保险,协会">
  <meta name="Description" content="昆山市保险行业协会于2009年6月8日成立">
  <title>昆山市保险行业协会</title>
  <%= stylesheet_link_tag  'default', :media => "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
